// Color variables ==============================

$color-white: #ffffff;

// Text color ===================================

$color-text-default: #585858;

// Button main colors ===========================

$color-default: #51DDFC;
$color-secondary: #58E1C1;

$color-success: #63CC81;
$color-error: #E4757A;
$color-warning: #FD7856;
$color-info: #927BC1;

// Font stack ===================================

$primary-font-stack: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Grid variables ===============================

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-maxw: 1050px;

// Max width ====================================

$max-width: 1050px;

// Breakpoints ==================================

$screen-s: 1px;
$screen-m: 768px;
$screen-l: 1100px;