// Color Variables ==============================

$color-white: #ffffff;

// Text Color ===================================

$color-text-default: #585858;

// Button Main Colors ===========================

$color-default: #51DDFC;
$color-secondary: #58E1C1;

$color-success: #63CC81;
$color-error: #E4757A;
$color-warning: #FD7856;
$color-info: #927BC1;

// Font Stack ===================================

$primary-font-stack: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Max Width ====================================

$max-width: 1000px;

// Breakpoints ==================================

$screen-sm: 769px;