// Separate components ==========================

.grid__row {
  @include flexy($dir: row, $wrap: nowrap, $just: space-around);
  margin: 20px 0px;
}

// Grid squares =================================

.theme__colors.grid {
  &__col--12 {
    @include grid-block;
    background-color: lighten($color-secondary, 10%);
  }

  &__col--8 {
    @include grid-block;
    background-color: lighten($color-warning, 10%);
  }

  &__col--7 {
    @include grid-block;
    background-color: lighten($color-error, 10%);
  }

  &__col--6 {
    @include grid-block;
    background-color: darken($color-default, 10%);
  }

  &__col--5 {
    @include grid-block;
    background-color: lighten($color-success, 10%);
  }

  &__col--4 {
    @include grid-block;
    background-color: lighten($color-default, 10%);
  }

  &__col--3 {
    @include grid-block;
    background-color: lighten($color-info, 10%);
  }
}

.grid{
	&__col--12,
	&__col--9,
	&__col--8,
	&__col--7,
	&__col--5,
	&__col--4,
	&__col--3 {
		width: 100%;
	}
}

.grid__col--12 {
  @include flexy($dir: row, $disp: flex, $wrap: wrap);
}

.grid__col--6 {
  width: 30%;
}