// Grid row container ===========================

.grid__row {
  margin: 30px 0px;

  @include mq(medium) {
  @include flexy($disp: flex, $dir: row, $wrap: nowrap, $just: space-around);
  }
}

.grid {
  &__col--12 {
    @include flexy($disp: flex, $dir: row, $wrap: wrap, $just: space-evenly);
  }

  &__col--8 {
    @include flexy($disp: flex, $dir: row, $wrap: wrap, $just: space-evenly);
  }

  &__col--7 {
    @include flexy($disp: flex, $dir: row, $wrap: wrap, $just: space-evenly); 
  }

  &__col--6 {
    @include flexy($disp: flex, $dir: row, $wrap: wrap, $just: space-evenly);
  }

  &__col--5 {
    @include flexy($disp: flex, $dir: row, $wrap: wrap, $just: space-evenly);
  }

  &__col--4 {
    @include flexy($disp: flex, $dir: row, $wrap: wrap, $just: space-evenly);
  }

  &__col--3 {
    @include flexy($disp: flex, $dir: row, $wrap: wrap, $just: space-evenly);
  }
}

// Calculate grid columns =======================

@include mq(medium) {
  @for $i from 1 through $g-col-count {

    $context: g-context($g-col-width, $g-col-count);
    $target: ($g-col-width * $i) + ($i - 10);  
  
    // Generate grid modifier classes
    .grid__col--#{$i} {
      width: percentage($target / $context);
    }
  }
}

// Styling grid squares =========================

.theme__colors.grid {
  &__col--12 {
    @include grid-block;
    background-color: lighten($color-secondary, 10%);
  }

  &__col--8 {
    @include grid-block;
    background-color: lighten($color-warning, 10%);
  }

  &__col--7 {
    @include grid-block;
    background-color: lighten($color-error, 10%);
  }

  &__col--6 {
    @include grid-block;
    background-color: darken($color-default, 10%);
  }

  &__col--5 {
    @include grid-block;
    background-color: lighten($color-success, 10%);
  }

  &__col--4 {
    @include grid-block;
    background-color: lighten($color-default, 10%);
  }

  &__col--3 {
    @include grid-block;
    background-color: lighten($color-info, 10%);
  }
}