.img {
  
  &--avatar {
    @extend %img;
    padding: 0.8rem;
		@include mq(medium) {
			margin: 0 auto;
		}
	}
  
  &--logo{
		@extend %img;	
	}
  
  &--frame {
		width: 90%;
		margin: 0 auto;
		padding: 0.8rem;
		display: block;
		border: 1px solid lightgray;
	}
}